.bottles-and-drinks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100%;
    min-height: 70vh;

    background-color: rgb(159, 159, 159);
    padding-inline: 10%;

}

.bottles-and-drinks-container .image-container {
    display: flex;
    border: 10px double white;
    border-radius: 2px;
    background-color: black;
    width: 70%;
    max-width: 980px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.bottles-and-drinks-container .image-container > img {
    object-fit: cover;
    width: 100%;
}