section.hero {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
}
.hero > .image-container{
    display: flex;
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;

}
.hero .image-container img {
    display: flex;
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    border: 8px double rgba(255, 255, 255, 0.5);;
    padding: 10px 15px;
    /* background-color: white; */
    /* padding: 10px */
    color: white;
    transition: border-color 350ms ease-in-out;
}

.hero-headers.scrolled {
    border-color: rgba(255, 255, 255, 1);
}

.hero-headers > h1 {
    font-size: 76px;
    font-weight: 800;
    margin: 0;
    letter-spacing: 0.19rem;
    line-height: 92px;
}

.hero-headers h2 {
    display: flex;
    /* justify-content: center;
     */
    align-items: center;
    font-size: 3.563rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
    
}

.hero-headers h2 i {
    font-style: normal;
    color: hsla(353, 94%, 59%);
    font-size: 3.163rem;
    font-weight: 600;
    /* justify-self: center; */
    margin-inline: 10px;
    /* text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);; */

}

section.description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47vh;
    width: 100%;
    background-color: #000000;

}

.description > p {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding-inline: 78px;
    padding-block: 50px;
    width: 935px;
    /* height: 192.5px; */
    text-align: center;

    font-size: 1.5rem;
    font-weight: 600;

    color: white;
    border: 2px solid white;
    outline: 2px solid white;
    outline-offset: 4px;
}
/* 3.435% */
/* 5.417% !important */
/* width: 935px !important; */

section.contact-location-details {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    /* overflow-x: clip; */

    width: 100%;
    height: 47vh;
}

.contact-location-details .carousel-container {
    /* display: flex; */
    position: relative;
    /* justify-content: flex-start; */
    align-items: center;
    overflow: visible;
    /* height: 200px;  */
    height: 100%; 
    max-height: 100vw;
    
    min-height: 0;
    min-width: 0;
    max-width: 100vw; 
    width: 100%;
    overflow: hidden;
    /* pointer-events: none; */

    z-index: 0;
    /* max-width: 100vh;
    max-height: 100v1;
    height: 100%;
    /* z-index: -1; */
    /* min-width: 0;
    min-height: 0; */ 
    /* animation: move-left 70s linear infinite; */
}


.contact-location-details .swiper-wrapper {
    /* align-items: center;  */
    max-height: 100%;
    height: 100%;
    display: flex;
    transition-timing-function: linear !important;
}

.contact-location-details .carousel-container .carousel-item {
    position: relative;
    width: auto;
    height: 100%;
    /* height: 98%; */
    flex-shrink: 0;

    border: 4px solid white;
    border-radius: 2px;
    box-sizing: border-box;
    /* margin-inline: 5px; */
    outline: 4px solid rgba(0,0,0,.2);
    outline-offset: -10px;
    display: block;
    max-height: 100%;

}


.contact-location-details .carousel-container .carousel-item .overlay {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 1, .09);
    width: 100%;
    height: 100%;
}


.contact-location-details .carousel-container .carousel-item .carousel-img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover;
}


.contact-location-details > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* z-index: -1; */
}
.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 581px;
    height: 336px;

    border: 2px solid white;
    outline: 4px solid white;
    outline-offset: 2px;
    background-color: black;
    margin-inline-start: 6.5277777777778%;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.65);
    position: absolute;
}

.location .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.location .contact-info > .visit-span,
.location .contact-info span {
    text-align: center;
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
}


.location .contact-info span .speak-span {
    color: hsl(353, 94%, 59%);
    font-style: normal;
    font-family: 'Bitter', 'Inter', sans-serif;
    font-size: 2.25rem;
}


.location .contact-info p {
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 28px;
    margin-top: 4px;
}

@keyframes move-left {
    from {
        transform: translateX(0%);
    }
    
    to {
        transform: translate(-50%);
    }

}


@media (50.625rem <= width < 71.25rem) {
    section.hero {      
        height: 60vh;
    }

    .hero-headers > h1 {
        font-size: clamp(3.375rem, -0.408rem + 7.472vi, 6.313rem);
        font-weight: 800;
        line-height: normal;

        margin: 0;
        letter-spacing: 2px;
        line-height: auto;
    }

    .hero-headers h2 {
        display: flex;
        line-height: normal;
        align-items: center;
        font-size: clamp(2.625rem, 0.331rem + 4.531vi, 4.406rem);
        /* font-size: 42px÷; */
        
        
    }

    .hero-headers h2 i {
        font-size: 42px;
    }

    .hero > .image-container{ 
        overflow: clip;
    }

    .hero .image-container img {
        /* width: ; */
        /* height: ; */
    }

    .description > p {
        padding-inline: clamp(2rem, 3.975vw - 0.012rem, 3.563rem);
        width: clamp(49.188rem, 23.492vw + 37.295rem, 58.438rem);

    }

    .contact-location-details .carousel-container {
        pointer-events: none;
    }

    address.location {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        /* width: 571px; */
        height: 272px;
        /* width: 582px;
        height: 289px; */
        background-color: rgba(0,0,0,.97);
        outline: 4px solid rgba(255, 255, 255, 0.9);
        /* padding: 0; */
        margin: 0;

    }

    .location .contact-info > .visit-span, .location .contact-info span {
        font-size: 30px;
    }

    .location .contact-info span .speak-span {
        font-size: 31px;
        padding-inline-end: 3px;
    }
    
}
 @media (width < 50.625rem) {
    .hero {
        /* height: 83vh; */
        /* height: 83vh; */
        height: calc(var(--vh) * 83);
        /* Aspectg ratio here */
    }

    .hero-headers {
        align-items: flex-start;
        /* text-align: center; */
        padding-inline: 5px;
        padding-block: 12px;
        margin-inline: 4px;
        /* margin-inline: 8px; */
    }
    .hero-headers > h1 {
        font-size: 57px;
        /* font-size: 19px; */
        line-height: normal;
        letter-spacing: 2px;
    }

    .hero-headers h2 {
        font-size: 27.69px;
    }

    .hero-headers h2 i {
        font-size: 16px;
    }

    section.description {

        padding-block: calc(var(--vh) * 17);
        padding-inline: 8px;
        height: max-content;
        box-sizing: border-box;
        /* height: calc(var(--vh) * 50); */
        /* height: 50vh; */
        /* height: 40vh; */
        /* height: 30vh; */
    }

    .description > p {
        width: 100%;
        /* padding: 49px; */
        font-size: 26px;
        border: 1px solid white;
        text-align: start;
        /* padding-inline: 4px; */
        /* padding-block: 25px; */
        /* font-weight: 500; */
        padding: 0;
        font-weight: 400;
        border: none;
        outline: none;
        /* width: 94%;
        padding: 0;
        
        font-size: 16px; */
    }

    section.contact-location-details {
        width: 100%;
        /* height: 69vh; */
        height: calc(var(--vh) * 69);
        height: max-content;

        align-items: revert;
        align-items: center;
        background-color: rgb(21, 21,21);
        justify-content: flex-start;
        /* padding-block-start: 56px; */
        /* padding-block-start: 9.5%; */
        padding-block: calc(var(--vh) * 8.8) calc(var(--vh) * 4.4);
        /* padding-block: calc(var(--vh) * 8.8) calc(var(--vh) * 4.4); */
        /* padding-block: calc(var(--vh) * 8.8) calc(var(--vh) * 4.4); */
    }

    .contact-location-details .carousel-container {
        /* height: 28vh; */
        /* height: calc(var(--vh) * 28); */
        /* height: 38%; */
        /* min-height: 180px; */
        /* min-height: 224.267px; */
        /* height: 40%; */
        position: relative;
        background-color: rgb(21, 21,21);
        z-index: 0;
        height: calc(var(--vh) * 26.4);
        /* pointer-events: none; */
        /* height: calc(var(--vh) * 28); */
        /* margin-block-end: calc(var(--vh) * 4.4); */
    }

    address.location {
        width: 100%;
        margin-inline: 0;
        border: 0;
        outline: 0;
        background-color: rgb(21, 21,21);
        box-shadow: none;
        justify-content: flex-start;
        padding-inline: 8px;
        box-sizing: border-box;
        position: relative;
        height: max-content;
        /* padding-block: calc(var(--vh) * 4.4); */
        padding-block: calc(var(--vh) * 4.4) calc(var(--vh) * 8.8);
    }

    .location .contact-info > .visit-span, .location .contact-info span,
    .location .contact-info span .speak-span {
        font-size: 28px;
    }

    .location .contact-info p {
        font-size: 25px;
        font-weight: 300;
        text-align: center;
        margin-top: calc(var(--vh) * 1.1);
        margin-bottom: calc(var(--vh) * 4.4);
    }

    .location .contact-info p.last {
        margin-bottom: 0;
    }

 }